@{
    ViewData["Home"] = "Home";
}

<section>
    <div class="welcome-message">
        <h1>Bem-vindo ao Sistema de gestão SEMEANDO</h1>
        <h4 class="mt-3">Aplicação para cadastro e edição de informações catalogadas no quiz</h4>
    </div>
</section>
